<!-- HTML code for ALL html files (consider it a header file) -->
<!DOCTYPE html>
<html>
<head>
  <title>TestTweeter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
   <div class="container-fluid">
     <div class="navbar-header">
       <%= link_to "Tweeter", root_path, class: "navbar-brand" %>
     </div>
   </div>
 </nav>

<div class="content">
  <%= yield %> <!-- yield any page we give it -->
</div>
</body>
</html>

<%= %> <!-- User can see information -->
<% %> <!-- User cannot see information; just ruby code -->
